
<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>
<table mat-table [dataSource]="dataSource"  class="mat-elevation-z8 m-auto">
    <ng-container matColumnDef="n">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> #. </th>
        <td mat-cell *matCellDef="let element; let i = index">{{i+1}}</td>
      </ng-container>
  <!-- Position Column -->
  <ng-container matColumnDef="Name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let Crypto"><img class="image" src="https://www.cryptocompare.com{{Crypto.CoinInfo.ImageUrl}}">
      <div>
        {{Crypto.CoinInfo.FullName}}<br>
        {{Crypto.CoinInfo.Name}}
 
      </div>

    </td>
  </ng-container>
  <ng-container matColumnDef="Price">
    <th mat-header-cell *matHeaderCellDef> Price </th>
    <td mat-cell *matCellDef="let Crypto"> $ {{Crypto.RAW.USD.PRICE}} </td>
  </ng-container>
  <ng-container matColumnDef="Direct">
    <th mat-header-cell *matHeaderCellDef> Direct Vol. 24H </th>
    <td mat-cell *matCellDef="let Crypto"> $ {{Crypto.RAW.USD.VOLUME24HOUR.toFixed(2)}} </td>
  </ng-container>
  <ng-container matColumnDef="Total">
    <th mat-header-cell *matHeaderCellDef> Total Vol. 24H </th>
    <td mat-cell *matCellDef="let Crypto"> $ {{Crypto.RAW.USD.TOTALVOLUME24HTO.toFixed(2)}} </td>
  </ng-container>
  <ng-container matColumnDef="MktCap">
    <th mat-header-cell *matHeaderCellDef> MktCap </th>
    <td mat-cell *matCellDef="let Crypto"> $ {{Crypto.RAW.USD.MKTCAP.toFixed(2)}}</td>
  </ng-container>
  <ng-container matColumnDef="Chg">
    <th mat-header-cell *matHeaderCellDef> Chg. 24H </th>
    <td mat-cell *matCellDef="let Crypto"> {{Crypto.RAW.USD.CHANGEPCT24HOUR.toFixed(2)}} % </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>