<div class="text-center">
  <div class="container">
    <div class="row">
      <div class="container-portfolio">
        <div>
          <h1>
            <span class="fa fa-bar-chart"></span> My Portfolios
          </h1>
        </div>
        <div class="container-emptyportfolio">
          <div class="emptyportfolio">
            <div class="emptyportfolio-body">
              <div class="emptyportfolio-image">
                <img src="https://www.cryptocompare.com/media/350835/portfolio.png">
              </div>
              <div class="text-center">
                <div class="emptyportfolio-text">This is where it all started!</div>
                <div class="emptyportfolio-small ">
                  <p>At some point in the future when your grandkids visit you, you can either tell them:</p>
                  <div class="empties">
                    <div class="empty-item"><span class="emptyitem-number">1</span> You missed the boat on
                      cryptocurrencies.</div>
                    <div class="empty-item"><span class="emptyitem-number">2</span> You were an early adopter and
                      made money out of trading cryptos!</div>
                  </div>
                  <div class="be-brave text-center">But, before you choose option <span class="emptyitem-number">2</span>
                    and join the crypto world, you need to</div>
                </div>
              </div>
            </div>
            <div >

              
             <!-- <app-addport.component></app-addport.component>-->
              <dialog-overview-example></dialog-overview-example>


            </div>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>
