<div class="container">
  <div class="user-login-signup-form-wrap">
      <div class="modal-content">
<h3>User Signup</h3>
          <div class="modal-body">
              <div class="user-connected-form-block">
                  <form class="user-connected-from user-signup-form">
                      <div class="row form-group">
                          <div class="col">
                              <input type="text" class="form-control" placeholder="First name">
                          </div>
                          <div class="col">
                              <input type="text" class="form-control" placeholder="Surename">
                          </div>
                      </div>
                      <div class="form-group">
                          <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Email address">
                      </div>
                      <div class="form-group">
                          <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Password">
                      </div>
                      <div class="form-group">
                          <div class="custom-control custom-checkbox">
                              <div class="custom-checkbox-wrap">
                                  <input type="checkbox" class="custom-control-input" id="customCheck2" name="example1">
                                  <label class="custom-control-label" for="customCheck2">I have read and agree to the <a href="#">Terms of Use</a></label>
                              </div>
                          </div>
                      </div>
                      <div class="form-group">
                          <select class="form-control form-control-lg">
                              <option>Select Counrty</option>
                              <option>USA</option>
                              <option>UK</option>
                              <option>UAE</option>
                          </select>
                      </div>
                      <button type="submit" class="btn btn-default">Sign Up</button>
                  </form>
                  <p>Already have an account?   <a href="#"> Sign In</a></p>
              </div><!-- create-account-block -->
          </div>
      </div>
  </div><!-- user-login-signup-form-wrap -->
</div>